body {
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
    }

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


#navbar-container {
    position: absolute;
    width: 100%;
    z-index: 1;
}

#hero-img {
    width: 100%;
}

#navbar-div {
    max-width: 79%;
 }


#main {
    position: absolute;
    bottom: 38%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

#master-logo {
    position: absolute;
    left: 50%;
    bottom: 80%;
    transform: translateX(-50%);
}

#back-this-project {
    position: relative;
    bottom: 50%;
}

#mastercraft-div {
    width: 80%;
 
} 

